<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
</head>
<body>
    <h3>Edit your Listing</h3>
    <form action="/listing/<%= listing._id %>?_method=put" method="post">
    
        <input type="text" value="<%= listing.title  %>" name="title">
        <br><br>
        <textarea name="description"  rows="5"><%= listing.description  %></textarea>
        <br><br>
        <input type="text" value="<%= listing.image.url  %>" name="image">
        <br><br>
        <input type="number" value="<%= listing.price  %>" name="price">
        <br><br>
        <input type="text" value="<%= listing.location  %>" name="location">
        <br><br>
        <input type="text" value="<%= listing.country  %>" name="country">
        <br><br>
        <button>Add</button>
    </form>
</body>
</html>