<% layout("/layouts/boilerplate") %>
   
<div class="row mt-3">
    <div class="col-8 offset-2">

    <h3>Listing Detail : </h3>
    <img src="<%= listing.image.url  %>" class="card-img-top show-img" alt="Listing-Image">
    <div class="card-body">
      <p><i>Owned By : <%= listing.owner.username  %></i></p>
      <h5 class="card-title"><b><%= listing.title  %></b></h5>
      <p class="card-text"><%= listing.description  %></p>
      <p>&#8377 <%= listing.price.toLocaleString("en-IN")  %></p>
      <p><%= listing.location  %> </p>
      <p><%= listing.country  %> </p>
     
    </div>

   <div class="buttons">
     <form action="/listing/<%= listing._id  %>/edit" method="get">
            <button class="btn btn-dark">Edit Route</button>
        </form>
        <br>
 
        <form action="/listing/<%= listing._id  %>?_method=DELETE" method="post">
            <button class="btn btn-dark">Delete Route</button>
        </form>

   </div>
   <br><hr>
   <div class="col-8 offset-2 mb-3">
    <h4>Leave a Review</h4>
    <form action="/listings/<%= listing.id %>/reviews" method="post">
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" max="5" min="1" id="rating" name="review[rating]" class="form-range" required>
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
   </div>
   <br><hr>
   <div>
    <h4>All Reviews</h4>
    <% if (listing.reviews.length === 0) { %>
      <p>No reviews yet.</p>
    <% } else { %>
      <% for (let review of listing.reviews) { %>
        <div class="card mb-3 " style="background-color: rgb(223, 245, 245); padding: 10px;">
          <div class="card-body " >
    
            <h6 class="card-subtitle mb-2 text-muted" style="margin: 1px;">Rating: <%= review.rating %> / 5</h6>
            <p class="card-text"> Comment : <%= review.comment %></p>
          </div>
          <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
            <button class="btn btn-outline-dark mt-2">Delete</button>
          </form>
        </div>
      <% } %>
    <% } %>
   </div>
       
    
</div></div>
